* {margin: 0; padding: 0;}

div {
    margin: 20px;
}

ul {
    list-style-type: none;
}

h3 {
    font: bold 16px/1.5 Helvetica, Verdana, sans-serif;
}

li img {
    float: left;
    margin: 0 15px 0 0;
}

li p {
    font: 200 12px/1.5 Georgia, Times New Roman, serif;
    margin-left: 86px;
}

li {
    padding: 10px;
    overflow: auto;
}

li:hover {
    background: #eee;
    cursor: pointer;
}
a{
    color: #000;
    text-decoration:none;
}
ul span{
    float: left;
    width: 60%;
    font-size: 14px;
}
form{
    padding: 15px;
    width: 50%;
    font-size: 17px;
    margin: 17px;
    float:left;
}
label{
    font-size: 13px;
    font-family: sans-serif;
    width: 148px;
    float: left;
    padding-top: 12px;
    float: left;
}
input[type=text]{
    width: 28%;
    padding: 3px;
    margin: 9px;
    box-sizing: border-box;
    float: left;
}
input[type=submit]{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 7px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    float: left;
}
form span{
    padding-bottom: 10px;
    width: 100%;
    float: left;
}
.main{
    float: left;
    width: 97%;
}